.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}

.column-one-third {
  display: flex;
  width: calc(100% / 3);
}

select.header {
  border-style: none;
  appearance: none;
  width: 100%;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.border-right {
  border-right: solid 1px black;
}

.margin-right {
  height: 18px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0 10px;
}

.hidden-border {
  border-style: hidden;
}

.search-bar {
  border: solid 2px orange;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}

.search-button {
  color: white;
  background-color: #eb7100;
  border: #eb7100;
  border-radius: 2px;
}
